<%= title "Installed Plugins" -%>
<table class='subdued'>
  <thead>
    <tr>
      <th>Plugin Name</th>
    </tr>
  </thead>
  <tbody>
    <% Ansuz::PluginManagerInstance.plugins.each do |plugin| -%>
      <tr class='<%= cycle('odd', 'even') -%>'>
        <td><%= plugin.to_s -%></td>
      </tr>
    <% end -%>
  </tbody>
</table>
