*~
*.swo
*.swp
.dotest/*
.DS_Store
config/database.yml
config/deploy.rb
coverage/*
db/data/legacy/log/*
db/*.sqlite
db/schema.rb
log/*
public/stylesheets/scaffold.css
public/photo_album_photo_images/*
public/uploads/*
themes/*
tmp/*
vendor/gems/*