config/database.yml
log/
log/*
*.swp
*.swo
*~
tmp/
tmp/*
.dotest
.dotest/**/*
.DS_Store
coverage
coverage/**/*
db/data/legacy/log/*
log/*
log/*.log
public/stylesheets/scaffold.css
tmp/**/*
public/photo_album_photo_images/
public/photo_album_photo_images/*
public/uploads/*/*
public/themes
public/themes/*
public/themes/*/*
themes/*
config/deploy.rb
public/ansuz_themes.xml
