*~
*.swo
*.swp
.dotest/*
.DS_Store
config/database.yml
config/deploy.rb
coverage/*
db/data/legacy/log/*
db/*.sqlite
db/schema.rb
log/*
public/stylesheets/scaffold.css
public/photo_album_photo_images/*
public/uploads/*
public/themes/*
public/ansuz_plugins.xml
public/ansuz_themes.xml
themes/*
tmp/*
vendor/gems/*
vendor/plugins/ansuz_user_system
vendor/plugins/ansuz_twitterati
vendor/plugins/ansuz_testimonials
vendor/plugins/ansuz_scrollable_content
vendor/plugins/ansuz_quick_post_dashboard_widget
vendor/plugins/ansuz_mephisto_xmlrpc
vendor/plugins/ansuz_jskit
vendor/plugins/ansuz_github_badge
vendor/plugins/ansuz_form_builder
vendor/plugins/ansuz_flickr_js
vendor/plugins/ansuz_feed_reader
vendor/plugins/ansuz_fckeditor_resource_browser
vendor/plugins/ansuz_database_dumper
vendor/plugins/ansuz_blog
ansuz_installed_plugins/*
