<h1>Admin</h1>
<ul>
  <li><%= link_to_remote "Manage Pages", :update => "sitetree", :url => { :controller => 'page_admin', :action => "manage_tree" } %></LI>
  <li><%= link_to_remote "Manage Calendar", :update => "sitetree", :url => { :controller => 'page_admin', :action => "menu", :id => "calendar" } %></LI>
  <li><%= link_to_remote 'Account Settings', :update => 'main', :url => { :controller => 'account', :action => 'update' } %>
  <li><%= link_to "Logout", :controller => 'account', :action => 'logout' %>
</ul>

