#header {
  width:100%;
  text-align:center;
}

/* Tabs */
#hd {
  width:100%;
  text-align:right;
}

#hd ul {
  margin:0px 15px 1px 0px ;
}

#hd ul li {
  display:inline;
}

#hd ul li a, #hd ul li span {
  padding: 2px 10px;
  border-top:1px solid #999;
  border-right:1px solid #999;
  border-left:1px solid #999; 
  background:#111;
}

#hd ul li span {
  background:#333;
}

#hd ul li a:hover {
  padding: 2px 10px;
  background:#222;
}

#hd ul li {
  text-decoration:none;
}

#bd {
  background:#333;
  border:1px solid #999;
  padding:5px;
}

/* Index tree */
#tree ul {
  padding-left:20px;
}


/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
  
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
