html{
  background-color: #ddd;
}

body{
  font-family: "Bitstream Vera Sans", Arial, sans-serif;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6{
  font-family: Georgia,"Times New Roman",Times,serif;
}

h1{
  text-align: left;
  font-size: 200%;
  padding: 10px;
}

h1 a.button2{
  font-size: 14px;
  position: relative;
  left: 20px;
  top: -3px;
}

h3{
  font-size: 130%;
}

#wrapper{
  position: relative;
}

#header {
  width:100%;
  text-align: left;
  color: white;
  padding: 10px;
  height: 40px;
}

#header h1{
  font-size: 250%;
}

#toolbar{
  background-color: #ddd;
  text-align: left;
  position: absolute;
  top: 0;
  height: 20px;
  left: 0;
  width: 100%;
}

#content{
  padding-top: 55px;
}

#sidebar{
  float: left;
  width: 25%;
  background-color: #ddd;
  text-align: left;
}

#sidebar h2{
  background-color: #bbb;
  padding: 4px;
  margin: 4px 0;
}

#sidebar input.text{
  width: 96%;
}

#doc2{
  width: 71%;
  float: left;
  margin-right: 10px;
}

/* Tabs */
#hd {
  width:100%;
  height: 27px;
  background: #bbb;
}

#hd ul {
  float: left;
}

#hd ul#base-links {
  float: right;
}

#hd ul li {
  display:inline;
}

#hd ul li a, #hd ul li span {
  text-decoration: none;
  padding: 4px 10px;
  background:#555;
  color: white;
}

#hd ul li span {
  background:#555;
  color: white;
}

#hd ul li a:hover {
  background:#333;
}

#hd ul li {
  text-decoration:none;
}

#bd {
  background:white;
  padding:5px;
  margin-left: 10px;
  border-width: 0 2px 2px 0px;
  border-style: solid;
  border-color: #aaa;
  min-height: 400px;
}

#bd h1{
  font-size: 200%;
  padding: 0;
  margin-bottom: 10px;
  color: black;
}

#bd h2{
  font-size: 140%;
}

label.title_label{
  display: block;
}

.clear{ clear: both; float: none !important; }

ul.grid{
  display: block;
}

ul.grid li.item{
  display: block;
  float: left;
  width: 214px;
  margin-right: 10px;
}

ul.grid li.item img{
  border: 10px solid #ddd;
}

ul.grid li.item img:hover {
  border: 10px solid #bbb;
}
ul.grid li.item.active img {
  border-color: #777;
}
#tree li li:hover {
  background-color: #eee;
}

#admin-menu{
  position: relative;
  z-index: 200;
  font-size: 1.2em;
}

#admin-menu li{
  float: left;
  position: relative;
  width: 150px;
  z-index: 100;
  margin-right: 20px;
}

#admin-menu li:hover span{
  background: #333;
}

#admin-menu li span, #admin-menu li a{
  display: block;
  width: 150px;
}
#admin-menu li span{
  cursor: default;
}

#admin-menu li a span{
  cursor: pointer;
}

#admin-menu li ul{
  display: none;
  padding: 0;
  margin: 0;
  opacity: .9;
}

#admin-menu li:hover ul{
  display: block;
  background: white;
}

#admin-menu li ul li a, #admin-menu li ul li span{
  padding: 4px 10px;
  border-bottom: 1px solid #333;
}

#admin-menu li ul li a span, #admin-menu li ul li span span{
  padding: 0;
  border: 0;
}

#admin-menu li span.note{
  margin: 0;
  font-size: 75%;
  font-style: oblique;
  background: transparent;
}

#admin-menu li li:hover a{
  background-color: #333;
}

.note{
  margin: 10px 0;
  background-color: #ccc;
  padding: 10px;
}

#sidebar > .note:first-child {
  margin-top: 0;
}

#sidebar .form-table th, #sidebar .form-table td{
  border-bottom: 0;
}

a.button{
  padding: 10px;
  color: #444;
  text-decoration: none;
  width: 200px;
  display: block;
  font-weight: bold;
}
a.button:hover {
  color: black;
}
a.button.icon{
  padding-left: 30px;
  width: 180px;
  background-repeat: no-repeat;
  background-position: 5px 10px;
}
a.button.icon.add{
  background-image: url(/images/famfamfam_icons/add.png)
}
a.button.icon.remove{
  background-image: url(/images/famfamfam_icons/delete.png)
}
a.button.icon.back{
  background-image: url(/images/famfamfam_icons/arrow_left.png)
}
a.button.icon.edit{
  background-image: url(/images/famfamfam_icons/pencil.png)
}
a.button.icon.rss{
  background-image: url(/images/famfamfam_icons/rss.png)
}
#tree ul li .page_controls ul.dropdown li{
  float: none;
}

/* Dropdown menu stuff for 'add page' */

div.outerbox{
  font-size: 100%;
}

div.cmDiv{
  border: 0;
}

.clickMenu li a{
  margin-right: 0 !important;
}

.clickMenu li.main{
  font-size: 85%;
  padding: 4px;
  background-color: #555;
  color: white;
  border: 0;
}

.clickMenu ul{
  border: 0;
  background-color: #777;
}

.clickMenu li.main:hover {
  background-color: #444;
  cursor: pointer;
}

.clickMenu li.main li{
  min-width: 120px !important;
  padding: 4px;
}

.clickMenu li.main li a{
  color: white;
}

li.main ul.innerBox li:hover, .clickMenu li.main ul.innerBox li:hover a {
  background-color: #666;
}
.clickMenu li.main ul.innerBox li a{
  display: block;
  width: 150px;
}
.clickMenu li.main ul.innerBox li a:hover {
  cursor: pointer;
}

/* End Dropdown menu stuff for 'add page' */

.ui-tabs-hide{ display: none; }


input.text, textarea{
  font-size: 1.5em;
  padding: 4px;
  margin-bottom: 1em;
}

input.button, a.button2{
  background-color: #ccc;
  border: 1px solid #aaa;
  font-size: 1.2em;
  padding: 4px;
  text-decoration: none;
  color: #333;
}

input.button:hover, a.button2:hover {
  background-color: #bbb;
  cursor: pointer;
}
li.clear{
  height: 0 !important;
  padding: 0 !important;
}

#page-plugins-tabs li.top{
  position: relative;
}
#page-plugins-tabs li.top a.delete{
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
}
#page-plugins-tabs li.top a.delete:hover {
  background-color: #bbb;
}
#advance_display_options{
  display: none;
}
input, textarea{
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
}
input:focus, textarea:focus {
  border-color: #888;
}

.blog-post-form input.title{
  width: 98%;
}
.toggle-content-box{
  margin-bottom: 10px;
}
a.toggle-link{
  padding: 4px;
  display: block;
  background-color: #555;
  color: white;
  text-decoration: none;
}
a.toggle-link:hover {
  background-color: #444;
}

#supplemental-nav{
position:absolute;
top: 0;
right: 0;
}
#supplemental-nav ul li{
float: left;
margin-right: 20px;
margin-top: 8px;
}
#supplemental-nav ul li a{
background-color: #555;
color: white;
text-decoration: none;
padding: 8px 12px;
}
#supplemental-nav ul li a:hover {
 background-color: #333;
}
#bd .fullwidth{
  margin: 0 -5px 0 -5px !important;
}
ul.admin_actions li{
  float: left;
  padding: 2px 6px;
}
