html {background:#fff;}
#main{
  width: 800px;
  margin: 0 auto;
}
#header{
  height: 100px;
}
#navigation{
  width: 200px;
  float: left;
  margin: 0 10px 0 0;
}
#navigation h3{
  display: none;
}
#navigation li a{
  padding: 5px 10px;
  background-color: #993333;
  color: #ffffff;
  display: block;
  text-decoration: none;
}
#navigation li.active a, #navigation li a:hover {
  background-color: #edded6;
  color: #aa301c;
}
#content{
  width: 570px;
  background-color: #ddd;
  float: left;
  padding: 10px;
}
div.clear{
  clear: both;
}
h2{
  font-size: 175%;
  color: #933;
}
h3{
  font-size: 150%;
  color: #933;
}
p{
  margin-bottom: 10px;
}
ol{
  margin-left: 20px;
}
ol li{
  list-style-type: decimal;
}
