html {
  background:#000;
  color: #ddd;
  /* background-image: url(/images/background-blue-squares.png); */
  /* background-image: url(/images/background-blue-squares-2.png); */
  /* background-image: url(/images/background-blue-squares-3.png); */
  /* background-image: url(/images/background-blue-squares-4.png); */
  /* background-image: url(/images/background-blue-squares-5.png); */
  /* background-image: url(/images/background-blue-squares-6.png); */
  background-image: url(/images/background-blue-squares-7.png);
  background-repeat: repeat-x;
}
body{
  font-family: "Gill Sans","Franklin Gothic Medium","Lucida Grande",Arial,Helvetica;
}
#main{
  width: 800px;
  margin: 0 auto;
  position: relative;
}
#header{
  margin-bottom: 10px;
}
#header h1{
  font-size: 131%;
  color: #fff;
  background-color: #000;
  padding: 10px 0;
  width: 200px;
}
#header .credits{
  display: block;
  background-color: #c2c655;
  color: #111;
  position: absolute;
  top: 0;
  left: 500px;
  padding: 4px 10px 10px 10px;
  line-height: 1.4em;
}
#header .credits a{
  background-color: #868a1f;
  padding: 2px;
  color: white;
}
#header h1 span.logo{
  padding-left: 20px;
  background-image: url(/images/ansuz_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  margin-right: 10px;
}
#navigation{
  width: 200px;
  float: left;
  margin: 0 10px 0 0;
}
#navigation h3{
  display: none;
}
#navigation li a{
  padding: 5px 10px;
  background-color: #111;
  color: #ccc;
  display: block;
  text-decoration: none;
}
#navigation li.active a,
#navigation li.active a:hover {
  background-color: #0084ff;
  color: white;
  cursor: default;
}
#navigation li a:hover {
  color: white;
  border-left: 4px solid #0084ff;
  padding-left: 6px;
  background-color: #222;
}
div#breadcrumb{
 background-color: #222;
 margin: -10px -10px 5px -10px;
 padding: 10px;
}
#content{
  width: 570px;
  background-color: #333;
  float: left;
  padding: 10px;
}
#footer{
  margin-top: 10px;
  background-color: #111;
  color: #aaa;
  padding: 10px;
}
div.clear{
  clear: both;
}
h2{
  font-size: 175%;
  color: #0084ff;
}
h3{
  font-size: 120%;
  color: #0084ff;
  background-color: #111;
  padding: 6px 10px;
  margin: 20px 0 6px;
}
p{
  margin-bottom: 10px;
}
ol{
  margin-left: 20px;
}
ol li{
  list-style-type: decimal;
}
.module{
  background-color: #333;
  color: #ccc;
  padding: 10px;
}
a{
  color: #0084FF;
}
