div.galimg, div.imgprin, .galimg a, .galimg img, .galimg ul, .galimg li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* fin del reset */

.galimg {
  position: relative;
  background: #fff url(jsgal/loading.gif) no-repeat 50% 50%;
  width: 710px;
}

.imgprin {
  /* es necesario para evitar un parpadero al quitar la imagen */
  width: 710px;
  height: 535px;
}

.imgprin img {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 5px;
}

.galimg ul {
  position: absolute;
  top: 420px;
  width: 710px;
  list-style: none;
  text-align: center;
}

.galimg ul li {
  display: inline;
  padding-left: 3px;
}

.galimg ul li a img {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 3px;
}

.jsgalpre {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f00;
  color: #fff;
  padding: 3px;
}
