form.subdued,
div.subdued{
 background-color: #eee;
 padding: 10px;
 border: 1px solid #aaa;
}
table.subdued{
 width: 100%;
}
table.subdued thead th{
 background-color: #333;
 color: white;
 font-weight: normal;
 padding: 4px;
 border: 0;
}
div.form form table.subdued td{
 vertical-align: top;
}

table.subdued		{
		margin: 0;
		padding: 0;
		font: normal 0.9em tahoma, arial, sans-serif;
		line-height: 1.4em;
		border-collapse: collapse;
		color: #333;
		background: #F0F0F0;
    margin-bottom: 10px;
		}
		


table.subdued caption	{
		margin: 0;
		height: 32px;
		padding: 0;
		color: #4F6480;
		line-height: 2em;
		text-align: left;
		font: bold 150% georgia, serif;
		text-transform: uppercase;
		letter-spacing: 0.14em;
		}
		
thead		{
		color: #fff;
		background: #5E7796;
		}
		
thead tr th	{
		padding: 4px 8px 4px 8px;
    border: 0;
		}

hr{
  border: 0;
  color: #767359;
  background-color: #aca883;
  height: 1px;
}

		
thead th	{
		}

tfoot		{
		background: #fff;
		}
		
tfoot tr td, tfoot tr th, tbody tr td	{
		padding: 4px;
		}
		
tbody tr	{
		border-style: solid;
    border-color: #bbb;
    border-width: 0 0 1px 0;
		background: #eee;
		}

tbody th	{
 background-color: #767359;
 color: white;
 font-weight: normal;
 padding: 4px;
 border-color: #767359;
 border-width: 0 4px 0 0;
 border-style: solid;
		}
		
tbody td	{
		background: #fff;
		}

tbody tr.odd td		{
		background: #eee;
		}
		
tbody tr th a:link		{
		font: bold 0.9em tahoma, arial, sans-serif;
		color: #5E7796;
		text-decoration: underline;
		
		}
		
tbody tr th a:visited		{
		color: #5E7796;
		text-decoration: none;
		
		}
		
tbody tr th a:hover		{
		color: #5E7796;
		text-decoration: none;
		
		}
		
tbody tr th a:active		{
		color: #5E7796;
		text-decoration: line-through;
		}
		
tbody td a:link		{
		color: #0084ff;
		text-decoration: underline;
		}
		
tbody td a:visited		{
		color: #0084ff;
		text-decoration: none;
		}
		
tbody td a:hover		{
		color: #0084ff;
		text-decoration: none;
		}
		
tbody td a:active		{
		font: normal 0.9em tahoma, arial, sans-serif;
		color: #0084ff;
		text-decoration: underline;
		}
tbody tr.selected td,
tbody tr.selected:hover td{
  background-color: #2580A2;
  color: white;
}
