/* Index tree */
#tree ul.main_tree {
  padding-left:20px;
}
#tree ul.main_tree li .page_controls{
  display: block;
  float: right;
}
#tree ul.main_tree li .page_controls{
}
#tree ul.main_tree li .page_controls li{
  list-style-type: none;
  float: left;
}
#tree ul.main_tree li .page_controls a{
  margin-right: 10px;
}
#tree ul.main_tree li .page_controls a:hover {
  background-color: #eee;
}
