table.tree{
  width: 100%;
}
table.tree thead th{
  background-color: #444;
  color: white;
  border: 0;
}
table.tree thead th.actions{
  width: 120px;
}
table.tree tbody tr.level-0 td.item{
  padding-left: .5em !important;
}
table.tree tbody tr.level-1 td.item{
  padding-left: 1.5em !important;
}
table.tree tbody tr.level-2 td.item{
  padding-left: 2.5em !important;
}
table.tree tbody tr.level-3 td.item{
  padding-left: 3.5em !important;
}
table.tree tbody tr.level-4 td.item{
  padding-left: 4.5em !important;
}
table.tree tbody tr.level-5 td.item{
  padding-left: 5.5em !important;
}
table.tree tbody tr.level-6 td.item{
  padding-left: 6.5em !important;
}
table.tree tbody tr.level-7 td.item{
  padding-left: 7.5em !important;
}
table.tree tbody tr.level-8 td.item{
  padding-left: 8.5em !important;
}
table.tree tbody tr.level-9 td.item{
  padding-left: 9.5em !important;
}
table.tree tr{
  height: 30px;
  min-height: 30px;
}
table.tree td{
  padding: 0 4px;
}
table.tree td.item a{
}
table.tree td.page-controls .page_controls{
  display: none;
}
table.tree tr:hover td.page-controls .page_controls{
  display: block;
  float: right;
}
table.tree td.page-controls .page_controls{
}
table.tree td.page-controls .page_controls li{
  list-style-type: none;
  float: left;
}
table.tree td.page-controls .page_controls a{
  margin-right: 10px;
}
table.tree td.page-controls .page_controls a:hover {
  background-color: #eee;
}
