<h1>Edit Event</h1>

<%= form_remote_tag :update => 'main', :url => { :action => 'update', :id => @calendar_event } %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to_remote 'New Copy', :update => 'main', :url => { :action => 'new_copy', :id => @calendar_event } %> |
<%= link_to_remote 'Show', :update => 'main', :url => { :action => 'show', :id => @calendar_event } %> |
<%= link_to_remote 'Back', :update => 'main', :url => { :action => 'list' } %>
