<h1>New Event</h1>

<%= form_remote_tag :update => 'main', :url => { :action => 'create' } %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to_remote 'Back', :update => 'main', :url => { :action => 'list' } %>
