<h1>&nbsp;</h1><% for column in CalendarEvent.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @calendar_event.send(column.name) %>
</p>
<% end %>

<%= link_to_remote 'New Copy', :update => 'main', :url => { :action => 'new_copy', :id => @calendar_event } %> |
<%= link_to_remote 'Edit', :update => 'main', :url => { :action => 'edit', :id => @calendar_event } %> |
<%= link_to_remote 'Back', :update => 'main', :url => { :action => 'list' } %>
