/* Layout */
html{
  background: #333;
}
body{
  background: white url(/themes/dark_glow/images/bg.gif) center top no-repeat;
  color: #444;
  font-family: Georgia,sans-serif;
  font-size: 1.2em;
}
#content_wrapper{
  width: 920px;
  margin: 0 auto;
  line-height: 145%;
}
#sidebar{
  width:180px;
  float:right;
}
#content{
  width: 710px;
}
#sidebar .rss.widget h3{
  margin-bottom: 10px;
}
#sidebar .rss img{
  display: block;
  margin: 0 auto;
}
#header h1{
  font-size: 300%;
  line-height: 100%;
  margin-top: .45em;
  margin-bottom: 0;
  color: white;
}
#navigation{
  width: 850px;
  margin-bottom: 40px;
}
#navigation h3{
  display: none;
}
#navigation li{
  list-style-type: none;
  float: left;
  width: 140px;
  position: relative;
  z-index: 80;
}
#navigation li.first a{
  padding-left: 0;
}
#navigation li a, #navigation li.active li a{
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #555;
  font-size: 130%;
}
#navigation li.active li a:hover {
  cursor: pointer;
}
#navigation li.active a,
#navigation li.active a:hover {
  color: white;
  cursor: default;
}
#navigation li a:hover {
  color: #ddd;
}
#navigation li ul{
  display: none;
}
#navigation li li a{
}
#navigation li:hover ul{
  display: block;
}
#footerbg{
  background: #333333 url(/themes/dark_glow/images/bg2.gif) no-repeat scroll center top;
}
#footer{
  width: 920px;
  margin: 0 auto;
  background: #333333 url(/themes/dark_glow/images/bg2.gif) no-repeat scroll center top;
}
/* End Layout */
/* Utilities */
.clear{
  clear: both;
}
/* End Utilities */
/* Blog Posts */
.blog_post{
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.blog_post h2{
  margin-bottom: 0;
}
.blog_post h2 a{
  text-decoration: none;
  color: black;
}
.blog_post h2 a:hover {
  text-decoration: underline;
}
.blog_post h3.supplemental{
  font-size: 75%;
  margin-bottom: 10px;
}
/* End Blog Posts */

li{
  list-style-type: square;
}

h1{ font-size: 200%; margin-bottom: 1em; }
h2{
  color: black;
  font-size: 150%;
  margin-bottom: .75em;
}
h3, h4, h5{ font-size: 125%; margin-bottom: .5em; }
p{ margin-bottom: 10px; }
blockquote{ 
  font-style: oblique;
  border-left: 2px solid #999;
  padding: 10px 20px; 
  background-color: #eee;
}

#sidebar{
  font-size: 80%;
}

#sidebar .widget h3{
  padding: 2px 6px;
  background-color: #222;
  color: white;
  margin-bottom: 2px;
}

#sidebar .widget li{
  list-style-type: none;
  margin-bottom: 1px;
}
#sidebar .widget li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 2px 6px;
  background-color: #444;
  color: #eee;
}
#sidebar .widget li a:hover {
  background-color: #333;
  color: white;
}
table.subdued th{
  vertical-align: top;
  padding-bottom: 10px;
  padding-right: 10px;
}
table.subdued td{
  vertical-align: top;
}
form#new_comment{
  background-color: #ddd;
  padding: 10px;
  border-top: 6px solid #999;
  margin-bottom: 10px;
  color: #555;
}
form#new_comment h3{
  color: black;
}
.comments{
  margin-top: 20px;
}
.comments h4{
  float: right;
  font-size: 75%;
  position: relative;
  top: -38px;
}
.comments .comment{
  border-top: 1px solid #bbb;
  margin-bottom: 0;
}

.login-block, .signup-block{
  font-size: 75%;
  width: 330px;
  height: 400px;
  float: left;
  padding: 10px;
  background-color: #eee;
}
.login-block {
  border-right: 1px solid #ccc;
 }

.email-login {
  margin: 0 !important; }

.signup-container {
 }

.signup-block {
 }

p.login-session label {
  text-align: right;
  display: block;
  float: left;
  width: 100px;
}
p.login-session input {
  margin-left: 15px;
  width: 160px;
 }
p.login-session input.button {
  float: right;
  margin-right: 50px;
  width: 100px;
}
p.remember-submit{
  float: right;
  margin-right: 50px;
}

p.signup-session label {
  text-align: right;
  display: block;
  float: left;
  width: 140px;
}
p.signup-session input {
  margin-left: 15px;
  width: 140px;
}
p.signup-session input.button {
  float: right;
  width: 160px;
  margin-right: 30px;
 }
p.signup-session span.signup-subtext {
  margin-left: 195px; }
.hTagcloud a{
  text-decoration: none;
  color: #333;
}
.hTagcloud a:hover {
  text-decoration: underline;
}
