<div class='comments' id='comments'>
  <% if commentable.comments.any? %>
    <h3>Comments</h3>
    <% commentable.comments.find(:all, :order => 'created_at DESC').each do |comment| %>
      <%= show_comment(comment) %>
    <% end %>
  <% end %>
</div>
