<% entries.each_with_index do |page, i| 
  isActive = @breadcrumb && (page == @breadcrumb[1] || page == @page)
  klasses  = []
  klasses << "active" if isActive
  klasses << "first"  if i == 0
  klasses << "last"   if i == (entries.length - 1) %>
    <li class="<%= klasses.join(" ") -%>">
      <a href='<%= page.full_path -%>'><%= page.title -%></a>
      <% if page.linked_children.any? && page.parent_id -%>
        <ul>
          <%= render :partial => 'shared/top_nav', :locals => { :entries => page.linked_children } -%>
        </ul>
      <% end -%>
    </li> 
<% end %> 
