<div id="footer">
  <h4>Ansuz is a collaboration between <a href='http://www.isotope11.com'>Isotope11</a> and <a href='http://www.isshen.com'>Isshen</a>.</h4>
  <h5>Ansuz is licensed under the GPLv2.</h5>
</div>
