<ul><% # Center and open UL for Footer links: top level navigation
    @topNav.each do |page| # Itterate through top level navigation: Root and all it's sub-pages
%><li><a href='<%= "/"+page.name %>'><%= page.title %></a></li> <% # Code for each link
    end  # End Itteration 
%>
</ul><%# Close UL %>
