<div id="footer">
  <a href="/pages/home" class="" style="border-color: rgb(85, 85, 85); color: rgb(85, 85, 85);">Home</a> | <a href="/pages/contact_us" class="" style="border-color: rgb(85, 85, 85); color: rgb(85, 85, 85);">Contact Us</a> | <a href="http://isotope11.selfip.com:11000/public_tickets/new" class="" style="border-color: rgb(85, 85, 85); color: rgb(85, 85, 85);">Open a Trouble Ticket</a> | <a href="/pages/about_us" class="">About Us</a> | <a href="/pages/payments" class="">Make Payment</a> | <a href="/pages/site_map" class="">Site Map</a><br/>
  <br/>
  ©2007 Isotope 11 | 600 Beacon Parkway West, Suite 950 | Birmingham, AL 35209<br/>
  Office: 205.795.2551 | Fax: 205.795.2553 | Email: <a href="mailto:info@isotope11.com" class="">info@isotope11.com</a>  
</div>
