# Linux example follows:
development:
  adapter: mysql
  database: ansuz_development
  username: root
  password: 
  host: localhost

test:
  database: ansuz_test
  adapter: mysql
  username: root
  host: localhost
  socket: /var/run/mysqld/mysqld.sock

production:
  database: ansuz_production
  adapter: mysql
  username: root
  host: localhost
  socket: /var/run/mysqld/mysqld.sock
