<%= error_messages_for 'calendar_tag' %>

<!--[form:calendar_tag]-->
<p><label for="calendar_tag_name">Name</label><br/>
<%= text_field 'calendar_tag', 'name'  %></p>

<p><label for="calendar_tag_color">Color</label><br/>
<%= text_field 'calendar_tag', 'color' %></p>
<!--[eoform:calendar_tag]-->

