<h1>Powered by Ansuz</h1>
Ansuz CMS is published under GPLV2<br/>
Written using the Rails framework and various other components, copyright held by original authors.<br/>
Content of this website is held by content owners. 