<ul id='admin-menu'>
  <% Ansuz::PluginManager::ADMIN_MENU_TOP_LEVEL_ENTRIES.each do |top_level_menu_entry| -%>
    <li><span><%= top_level_menu_entry -%></span>
      <ul>
      <% Ansuz::PluginManagerInstance.admin_menu[top_level_menu_entry].each do |text, url, options| -%>
        <li><%= create_tab text, url, options -%></li>
      <% end -%>
      </ul>
    </li>
  <% end -%>
</ul>
