<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
        <TITLE>Isshen CMS: Admin</TITLE>
        <%= stylesheet_link_tag 'listmatic' %>
        <%= stylesheet_link_tag 'admin' %>
	<%= javascript_include_tag 'listmatic' %>
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'calendarEvents' %>
</head>
<body>
<div class="content">
  <center><h2>Isshen CMS: Admin [ <%= current_database %> ]</h2></center>

<div id="main" class="main login">
<% if flash[:message] -%>
<div id="message" style="color: red; text-align: center"><%= flash[:message] %></div>
<% end -%>
<%= @content_for_layout %>
</div>
</div>
</body>
</html>
